# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VS Code settings (if any)
.vscode/

# Data files (optional: if you want to exclude large datasets)
# data/